{% extends 'teamwork/base.html' %}

{% block main_content %}
<h3>Quick Link</h3>
<hr>
<button class="button button1"><a style="font-size: 20px; color:rgb(0, 0, 0);" href="/teamwork/employees">Employee</a> </button>
<button class="button button1"><a style="font-size: 20px; color:rgb(0, 0, 0);" href="/teamwork/teams">Team</a> </button>
<button class="button button1"><a style="font-size: 20px; color:rgb(0, 0, 0);" href="/teamwork/requesthelps">Request Help</a> </button>



{% endblock %}